<module>
	<rawname>blacklist</rawname>
	<repo>standard</repo>
	<name>Blacklist</name>
	<version>17.0.1.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>This module is used to manage a system wide list of blocked callers</description>
	<more-info>https://wiki.freepbx.org/display/F2/Blacklist+Module</more-info>
	<menuitems>
		<blacklist needsenginedb="yes">Blacklist</blacklist>
	</menuitems>
	<changelog>
		*17.0.1.1* 17.0.1.1
		*17.0.1alpha* 17.0.1 alpha release
	</changelog>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Blacklist" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Blacklist" namespace="FreePBX\modules">bulkhandlerGetTypes</method>
			<method callingMethod="import" class="Blacklist" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Blacklist" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
		<framework class="Destinations" namespace="FreePBX">
      		<method callingMethod="getModuleCheckDestinations" class="Blacklist" namespace="FreePBX\modules">destinations_check</method>
		</framework>
	</hooks>
	<depends>
		<module>core ge 17.0.1</module>
		<module>cdr ge 17.0.1</module>
	</depends>
	<supported>
		<version>17.0</version>
	</supported>
</module>
