<module>
	<rawname>blacklist</rawname>
	<name>Blacklist</name>
	<version>1.1.3.3</version>
	<type>setup</type>
	<category>CID &amp; Number Management</category>
	<menuitems>
		<blacklist needsenginedb="yes">Blacklist</blacklist>
	</menuitems>
	<changelog>
		*1.1.3.3* added xml attribute needsenginedb
		*1.1.3.2* #2070 syntax fix from below
		*1.1.3.1* #2070 fix proper use of script tags
		*1.1.3* #2061 fixed to work with Asterisk 1.4 (wait for confirmation of 1)
		*1.1.2* #1638 remove duplicate of zapateller instruction
		*1.1.1* Add he_IL translation
		*1.1* First 2.2 release. Fix minor warnings.
	</changelog>
	<location>release/2.3/blacklist-1.1.3.3.tgz</location>
	<info>http://freepbx.org/wiki/AsteriskBlacklist</info>
	<md5sum>d6dc7cb52151a279887a3baade5c47df</md5sum>
</module>
